# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.NameCheapDynamicDns.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/*
/NameCheapDynamicDns/.idea/*

/NameCheapDynamicDns/obj/*
/NameCheapDynamicDns/bin/*

/NameCheapDynamicDns/DynDnsDynamicLibrary/obj/*
/NameCheapDynamicDns/DynDnsDynamicLibrary/bin/*

/NameCheapDynamicDns/DynDnsApiManager/bin/*
/NameCheapDynamicDns/DynDnsApiManager/obj/*

/NameCheapDynamicDns/DynDnsCronJob/obj/*
/NameCheapDynamicDns/DynDnsCronJob/bin/*

/NameCheapDynamicDns/DynDnsApiManager/logs/log-*.txt
/NameCheapDynamicDns/NameCheapDynamicDns.sln.DotSettings.user
