# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.NameCheapDynamicDns.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/NameCheapDynamicDns/obj/*
/NameCheapDynamicDns/bin/*

/NameCheapDynamicDns/.idea/*
/NameCheapDynamicDns/DynDnsDynamicLibrary/obj/*
/NameCheapDynamicDns/DynDnsDynamicLibrary/bin/*
/NameCheapDynamicDns/DynDnsApiManager/bin/*
/.idea/*
/NameCheapDynamicDns/DynDnsApiManager/obj/*